# Redis
REDIS_INFRA_ADMIN_PASSWORD=change_me
REDIS_HEALTHCHECK_PASSWORD=change_me
REDIS_OCR_PASSWORD=change_me
REDIS_URLSHORTENER_PASSWORD=change_me
REDIS_EXPORTER_PASSWORD=change_me

# Garage (S3)
GARAGE_S3_PORT=3900
GARAGE_ADMIN_PORT=3903

# Docker networks (to create with: docker network create <name>)
RABBITMQ_NETWORK=rabbitmq-network
REDIS_NETWORK=redis-network
GARAGE_NETWORK=garage-network
MONITORING_SHARED_NETWORK=monitoring-shared
